      <table class="table-bordered">
            <tr>
                <th></th>
                <th>出演</th>
        
            </tr>
            <tr>
                <th>Aチーム</th>
                <td>セル</td>
             
            </tr>
            <tr>
                <th>Bチーム</th>
                <td>セル</td>
            
            </tr>
            <tr>
                <th>Cチーム</th>
                <td>小田さくら・牧野真莉愛・横山玲奈・山﨑愛生・竹内朱莉・笠原桃奈・橋迫鈴・宮本佳林・植村あかり・工藤由愛・浅倉樹々・岸本ゆめの・谷本安美・一岡伶奈・清野桃々姫・山﨑夢羽・岡村美波</td>
            </tr>
          
          
        </table>
    </div>
